<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xml:lang= "en-US" manifest="manifest.appcache" data-ng-app="warrApp">
<head data-ng-controller="indexController"><meta http-equiv="Content-type" content= "text/html; charset=us-ascii" /><meta name="viewport" content= 
"width=device-width, initial-scale=1" /><title data-ng-bind= 
"((routeParams.id &amp;&amp; routePage.doc &amp;&amp; routePage.doc[routeParams.id] &amp;&amp; routePage.title) ? (routePage.doc[routeParams.id][routePage.title] + ' - ') : '') + routePage.name + ' - Aaron Suen'">
Aaron Suen</title><link rel="stylesheet" href="style.css" type="text/css" /><link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon-precomposed" href= "apple-touch-icon.png" type="image/png" /><script type="text/javascript" src="angular-multi.min.js"></script>
<script type="text/javascript" src="site.js"></script></head><body data-ng-controller="indexController"><div class="title">
<div class="logo"><img class="logo" src="title-center.png" alt= "Aaron Suen: The Official Website" /></div><a name="top" id="top"></a>
<ul class="nav bar ng-cloak"><li data-ng-repeat= "nav in data.pages | warrValues | filter:{order:''} | orderBy:['order','key']">
<strong data-ng-if="nav.key == routePage.key" data-ng-bind-html= "html(nav.name)">&#160;</strong><a data-ng-if= 
"nav.key != routePage.key" data-ng-href="#{{nav.routes[0]}}" data-ng-bind-html="html(nav.name)"></a></li></ul></div><div class="content"><div data-ng-view="">
<h3 class="center">Sorry, Javascript is required to browse this site.</h3></div></div><div class="content footer">
<div class="legal">Copyright &#169;2015 Aaron Suen, <a href= "http://opensource.org/licenses/MIT" data-ng-href= "#/license">License</a></div>
<div class="right" data-ng-cloak="" data-ng-if="appVersion" data-ng-bind="'Version ' + appVersion"></div></div>
<div class="offline" data-ng-bind="offlineStatusText"></div></body></html>
